#Portada .Instalaciones{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Portada .Instalaciones .Imagen{
    width: 100%;
    height: 100%;
}

#Portada .Instalaciones .Imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Portada .Instalaciones .Texto{
    position: absolute;
    width: 45%;
    height: auto;
    transform: translateY(200px);
    background-color: white;
    text-align: center;
    padding: 10px;
}

#Portada .Instalaciones .Texto h4{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#Portada .Instalaciones .Texto span{
    font-family: 'Raleway', sans-serif;
}


/* -------------------------- Espacios en imagenes --------------------------- */
#Espacios{
    margin-top: 60px;
}

#Espacios .subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 520px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1.5px solid #40d313;
    height: 50px;
}

#Espacios .subtitulo h2{

}

#Espacios .imagenes{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0px;
    align-items: center;
    justify-content: center;
}

#Espacios .imagenes a{
    margin-bottom: 35px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.3s;
}

#Espacios .imagenes a.ampliado{
    transform: scale(1.5);
    z-index: 1;
}

#Espacios .imagenes a .foto img{
    width: 302px;
    height: 180px;
    object-fit: cover;
}

#Espacios .imagenes a .titulo{
    position: absolute;
    transform: translate(25px, -35px);
    background-color: white;
    text-align: center;
    width: 20%;
    padding: 15px 10px;
    border-radius: 3px;
}

#Espacios .imagenes a.ampliado .titulo{
    width: 80%;
    padding: 10px;
}

#Espacios .imagenes a .titulo h4{
    margin: 0px;
}