#Footer .parte-1{
    background-color: rgb(73, 73, 73);
    color: white;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid rgb(255 255 255);
    
}

#Footer .parte-1 h1{
    margin: 0;
}

#Footer .parte-1 .col img{
    width: 100%;
    height: auto;
}

#Footer .parte-1 .col1{
    text-align: center;
}

#Footer .parte-1 .col1 .contacto{
    display: flex;
    align-items: center;
    justify-content: center;   
}

#Footer .parte-1 .col1 .contacto img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Footer .parte-1 .col1 .contacto p{
    margin: 0;
}

#Footer .parte-1 .col2 a img{
    width: 50px;
    height: 50px;
    border-radius: 5px; 
}

#Footer .parte-2{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#Footer .parte-2 p{
    margin: 0px;
    padding: 0px 15px;   
}

#Footer .parte-2 .estudiantes,
#Footer .parte-2 .datos{
    display: flex;
    justify-content: center;
    padding: 2px 0px;
}

#Footer .parte-2 .datos a{
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}

@media (max-width: 700px){
    #Footer .parte-1{
        display: block;
        padding: 20px;
    }

    #Footer .parte-1 .col img{
        width: 200px;
    }
    #Footer .parte-1 .col,
    #Footer .parte-1 .col1,
    #Footer .parte-1 .col2,
    #Footer .parte-1 .col3{
        padding: 10px;
    }

    #Footer .parte-2 .estudiantes{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 50px 50px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(255 255 255);
    }
    #Footer .parte-2 .estudiantes p{
        padding: 10px;
    }

    #Footer .parte-2 .datos{
        display: grid;
        text-align: center;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 60px;
        padding: 0px 0px;
        justify-content: center;
        align-items: center;
    }
}
