body{
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    background-color: rgb(245, 245, 245);
}

#Portada{
    margin-top: 77px;
}

#Portada .titulo{
    width: 100%;
    height: 300px;
    background-image: url(../imagenes/profesores1.jpg);
    
}

#Portada .titulo h1{
    height: 100%;
    background-color: rgba(10 10 10 /0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-family: monospace;;
    margin: 0px;

}

/*-------------------------------------- Estilo titulo -------------------------------------------*/

#titulo .texto{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 420px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(12, 11, 11, 0.4);
    border-radius: 10px;
}

#titulo .texto h1{
    margin: 0px;
    margin-bottom: 7px;
}

/*-------------------------------------- Estilos Videos -------------------------------------------*/

#Experiencias{
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#Experiencias .video{
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0px 20px;
    display: none;
    justify-content: center;
    align-items: center;
    
}

#Experiencias .video iframe{
    border: none;
    overflow: hidden;
    width: 600px;
    height: 360px;
}

#Experiencias .button{
    position: absolute;
    bottom: 10%;
}

#Experiencias .button .puntos{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    background-color: rgba(10 10 10 /0.6);
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#Experiencias .button .on:hover,
#Experiencias .button .puntos:hover {
    background-color: #f1f1f1;
}


/*-------------------------------------- Estilos Perfiles -------------------------------------------*/
#Slider{
    margin: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#Slider .profesor{
    height: 300px;
    max-width: 85%;
    margin: 10px;
    background-color: rgb(255 255 255);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

#Slider .profesor img{
    background-color: #101010;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
    
}

#Slider .profesor .descripcion{
    padding: 35px 50px;

}

#Slider .profesor .descripcion h1{
    margin: 0px;
    padding: 20px 0px;
}

#Slider .profesor .descripcion h2{
    margin: 0px;
    padding: 10px 0px;
}

#Slider .profesor .descripcion span{

}

#Slider .botones{
    position: absolute;
    bottom: 10%;
}

#Slider .botones .dot {
    cursor: pointer;
    height: 10px;
    width: 40px;
    margin: 0 10px;
    background-color: rgba(10 10 10 /0.6);
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #f1f1f1;
}