* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    background-color: rgb(245, 245, 245);
}

/* -------------------------------------- Estilos Header ---------------------------------------- */

#barraSuperior{
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    transition: 0.7s;
    padding: 5px;
    z-index: 100;
}

#barraSuperior.abajo{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    z-index: 100;
}

#barraSuperior .contenedor{
    display: flex;
    justify-content:space-between;
}

#barraSuperior .contenedor .imagen{
    width: 180px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#barraSuperior ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 65px;
}

#barraSuperior .contenedor ul li{
    list-style: none;
    margin: 0px 30px;
}

#barraSuperior .contenedor ul li a{
    text-decoration: none;
    color: rgb(36, 34, 34);
    font-size: 1.1em;
}

#barraSuperior .contenedor ul li .btn{
    border: 1px solid #3cd908e3;
    background-color: #08af04c4;
    color: white;
    border-radius: 3px;
    display: flex;
    width: 100px;
    height: 42px;
    align-items: center;
    justify-content: center;
}

#barraSuperior .contenedor ul li .btn:hover{
    color: #40d313;
    background-color: #ffffff;
    border: 3px solid rgba(54, 179, 4, 0.8);
    box-shadow: 0 2px 10px rgba(34, 34, 34, 0.75);
}

#barraSuperior .contenedor ul li a img{
    width: 40px;
    height: 40px;
    margin: 0px;
}
/* -------------------------------- Imagen --------------------------*/
#Contenido1 .imagen{
    width: 100%;
    height: 350px;
    margin-top: 76px;
    background-color: #ffffff;
    
}

#Contenido1 .imagen img{
    width: 100%;
    max-height: 345px;
    object-fit: contain;
}

/* -------------------------------- Descripción --------------------------*/

#Contenido2{
    width: 100%;
    height: auto;
    border-bottom: 1.5px solid #40d313;
}

#Contenido2 .Cuadro-de-texto ul{
    display: flex;
    margin: 10px 140px;
    padding: 17px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(40 40 40 /0.7);
    border-radius: 10px;
}

#Contenido2 .Cuadro-de-texto ul li{
    list-style: none;
    position: relative;
    width: 135px;
    height: 135px;
    margin: 0px 10px;
    border-radius: 50px;
    border: 2px solid #40d313;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
}

#Contenido2 .Cuadro-de-texto ul li .button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 48px;
    background-color: rgb(82, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#Contenido2 .Cuadro-de-texto ul li .button:hover{
    opacity: 1;
}


#Contenido2 .Cuadro-de-texto ul li .button a{
    text-decoration: none;
    text-align: center;   
}

#Contenido2 .Cuadro-de-texto ul li .button h1{
    margin: 0;
    color: white;
    text-align: center;
}

#Contenido2 .Cuadro-de-texto .Referencias{
    margin: 20px;
    padding: 30px 70px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton1 span{
    font-family: 'Montserrat', sans-serif;;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 a{
    text-decoration: none;
    color: white;
    background-color: #1db521;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    margin: 0px 20px;
}
#Contenido2 .Cuadro-de-texto .Referencias #boton5 a:hover{
    background-color: #ffffff;
    color: #40d313;
    border: 2px solid #40d313;
    transform: scale(0.8);
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 img{
    width: 100%;
    padding: 30px 15px;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .semestre{
    display: flex;
    box-shadow: none;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .semestre li{
    border-radius: 15px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .semestre a{
    text-decoration: none;
    color: black;
}


#Contenido2 .Cuadro-de-texto .Referencias #boton5 .planM .materias .tira{
    padding: 0px;
    box-shadow: none;
    margin: 10px;

}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .planM .materias .tira li{
    width: 135px;
    height: 70px;
    border: 1px solid #111111;
    border-radius: 5px;
    text-align: center;
    box-shadow: none;
    padding: 5px;
    font-size: 14px;
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .semestre a button{
    background-color: rgb(255 255 255);
    border: none;
    height: 30px;
    box-shadow: 0px 5px 10px rgba(10 10 10 /0.4);
    border-radius: 10px;
    cursor: pointer;
}

/* Oculta todos los elementos con la clase "Texto" por defecto */
#Contenido2 .Cuadro-de-texto .Referencias .Texto {
    display: none;    
}

#Contenido2 .Cuadro-de-texto .Referencias #boton5 .planM .materias{
    display: none;
}
/* Muestra solo los elementos con la clase "activo"*/

#Contenido2 .Cuadro-de-texto .Referencias .Texto.activo {
    display: block;
}
 
#Contenido2 .Cuadro-de-texto .Referencias #boton5 .planM .materias.act {
    display: block;
}

/* ----------------- Imagenes interactivas ------------------ */
#Laboratorios{
    width: 100%;
    height: 100vh;
    padding: 30px 40px;
    margin-top: 40px;
}

#Laboratorios .Imagen .Principal{
    width: 100%;
    height: 480px;
    position: relative;
}

#Laboratorios .Imagen .Principal .main{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#Laboratorios .Imagen .Principal .name{
    position: absolute;
    background-color: rgba(0 0 0 /0.5);
    color: #f1f1f1;
    border-radius: 3px;
    font-size: 40px;
    font-weight: bold;
    animation:showcontent 1s ease-in-out 1 forwards;
    left: calc(40px);
    top: 100px;
}
#Laboratorios .Imagen .Principal .des{
    position: absolute;
    background-color: rgba(0 0 0 /0.5);
    color: #f1f1f1;
    border-radius: 3px;
    margin:20px 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards;
    left: calc(40px);
    top: 170px;
}

#Laboratorios .Imagen .Cartas_contenedor{
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: calc(490px);
    transform: translateY(-30px);
    
}

#Laboratorios .Imagen .Cartas_contenedor .Contenido .Cartas{
    width: 50px;
    height: 0px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .9;
    transition: 3s;
    border: 2px solid white;
    margin: 0px 10px;
}

#Laboratorios .Imagen .Cartas_contenedor .Contenido .name{
    background-color: rgba(0 0 0 /0.5);
    border-radius: 3px;
    font-size: 40px;
    font-weight: bold;
    display: none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards;
}

#Laboratorios .Imagen .Cartas_contenedor .Contenido .des{
    background-color: rgba(0 0 0 /0.5);
    border-radius: 3px;
    margin:20px 0;
    opacity: 0;
    display: none;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards;
}

#Laboratorios .Imagen .Cartas_contenedor .Contenido .Cartas:hover{
    opacity: 1;
}

.active{
    opacity: 1 !important;
    /*box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);*/
    animation:showcontent 1s ease-in-out 1 forwards
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }

}

/* --------------------------------------- Estilos Footer --------------------------------------*/

#Footer .parte-1{
    background-color: rgb(73, 73, 73);
    color: white;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid rgb(255 255 255);

}

#Footer .parte-1 h1{
    margin: 0;
}

#Footer .parte-1 .col img{
    width: 100%;
    height: auto;
}

#Footer .parte-1 .col1{
    text-align: center;
}

#Footer .parte-1 .col1 .contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Footer .parte-1 .col1 .contacto img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Footer .parte-1 .col1 .contacto p{
    margin: 0;
}

#Footer .parte-1 .col2 a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Footer .parte-2{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#Footer .parte-2 p{
    margin: 0px;
    padding: 0px 15px;
}

#Footer .parte-2 .estudiantes,
#Footer .parte-2 .datos{
    display: flex;
    justify-content: center;
    padding: 2px 0px;
}

#Footer .parte-2 .datos a{
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}

@media (min-width: 320px) and (max-width: 550px){
    #barraSuperior .contenedor {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #barraSuperior .contenedor .imagen{
        width: 45%;
        padding-top: 1%;
    }

    #barraSuperior .contenedor ul {
        height: auto; /* Cambia la altura a automática */
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    #barraSuperior .contenedor ul li {
        padding: 0px 15px;
        margin: 0px;
    }

    #barraSuperior .contenedor ul li .btn {
        width: 80px; /* Redefine el ancho del botón */
        height: 32px; /* Redefine la altura del botón */
    }

    #barraSuperior .contenedor ul li a img {
        width: 30px; /* Redefine el tamaño de las imágenes */
        height: 30px; /* Redefine el tamaño de las imágenes */
    }   
    
    #Contenido1{
        padding: 0px 10px;
    }

    #Contenido1 .imagen{
        margin-top: 120px;
        height: 154px;
        border-radius: 15px;
        /* justify-content: center; */
        /* align-items: center; */
        display: flex
    }
    
    #Contenido1 .imagen img{
        max-height: 240px;
        padding: 10px 0px;
        object-fit: cover;
        border-radius: 30px;
    }

    #Contenido2 .Cuadro-de-texto ul{
        margin: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #Contenido2 .Cuadro-de-texto ul li{
        width: 58px;
        height: 58px;
        padding: 4%;
        margin: 0% 2%;
    }
    
    #Contenido2 .Cuadro-de-texto ul .btn1{
        grid-column: 2 / 3;
    }

    #Contenido2 .Cuadro-de-texto ul .btn2{
        grid-column: 4 / 5;
    }

    #Contenido2 .Cuadro-de-texto ul .btn3{
        grid-column: 6 / 7;
    }

    #Contenido2 .Cuadro-de-texto ul .btn4{
        grid-row: 2 / 2;
        grid-column: 3 / 4;
    }

    #Contenido2 .Cuadro-de-texto ul .btn5{
        grid-row: 2 / 2;
        grid-column: 5 / 6; 
    }

    #Contenido2 .Cuadro-de-texto ul li a img{
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #Contenido2 .Cuadro-de-texto ul li .button h1{
        font-size: .8em;
    }

    #Contenido2 .Cuadro-de-texto .Referencias{
        padding: 20px 30px;
    }

    #Contenido2 .Cuadro-de-texto .Referencias h1{
        text-align: center;
    }

/* ------------------------------------------ Contenido de imagenes -------------------------------------------- */

    #Laboratorios{
        padding: 10px;
        margin-top: 0px;
        height: 270px;
    }

    #Laboratorios .Imagen .Principal{
        height: 250px;
    }
    
    #Laboratorios .Imagen .Principal .main{
        border-radius: 10px;
        object-fit: cover;
        height: 250px;
    }

    #Laboratorios .Imagen .Principal .name{
        font-size: 25px;
        left: calc(3%);
        top: -10px;
    }

    #Laboratorios .Imagen .Principal .des{
        left: calc(3%);
        top: 26px;
        font-size: 14px;
    }

    #Laboratorios .Imagen .Cartas_contenedor{
        height: 20px;
        position: static;
        justify-content: center;
        align-items: center;
    }

    .active{
        animation:none;
    }

    /* --------------------------------------- Footer -------------------------------------*/
    #Footer .parte-1{
        display: block;
        padding: 20px;
    }

    #Footer .parte-1 .col img{
        width: 200px;
    }
    #Footer .parte-1 .col,
    #Footer .parte-1 .col1,
    #Footer .parte-1 .col2,
    #Footer .parte-1 .col3{
        padding: 10px;
    }

    #Footer .parte-2 .estudiantes{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 30% 30%;
        text-align: center;
        border-bottom: 1px solid rgb(255 255 255);
        font-size: 11px;
    
    }

    #Footer .parte-2 .estudiantes p{
        padding: 5px;
    }

    #Footer .parte-2 .datos{
        display: grid;
        text-align: center;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 30px;
        padding: 10px 0px;
        align-items: center;
        font-size: 9px;
    }
    
}