#Portada1{
    margin-top: 77px;
    margin-left: 10px;
    margin-right: 10px;

}

#Portada1 .titulo{
    width: 100%;
    height: 480px;
    background-image: url(../imagenes/Vinculacion.jpg);
}

#Portada1 .titulo h1{
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    opacity: 0.7;
    font-family: monospace;
    font-size: 60px;
}

#Subtitulo .titulos{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 320px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(12, 11, 11, 0.4);
    border-radius: 10px;
}

#Subtitulo .titulos h1{
    margin: 0px;
    margin-bottom: 7px;
}

#Subtitulo .titulos span{}


/* --------------------------------- Mosaico Nuevo --------------------------------- */

#convenio{
    padding: 20px;
}

#convenio .escuelas {
    width: 100%;
    display: grid;
    grid-template-columns: 24.3% 24.3% 24.3% 24.3%;
    grid-template-rows: 230px 230px 230px;
    grid-gap: 10px;

}

#convenio .escuelas .imagen0{
    grid-column: 1/3;   
}

#convenio .escuelas .imagen1{
    grid-column: 3/5;
}

#convenio .escuelas .imagen2{
    grid-column: 2/1;
    grid-row: 2/5;
}

#convenio .escuelas .imagen3{
    grid-column: 2/4;
}

#convenio .escuelas .imagen4{
    grid-column: 4/4;
    grid-row: 2/5;
}

#convenio .escuelas .imagen5{
    grid-column: 2/4;
}

#convenio .escuelas .mosaico{
    height: 100%;
    position: relative;
    cursor: pointer;
}

#convenio .escuelas .mosaico img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#convenio .escuelas .mosaico .texto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#convenio .escuelas .mosaico:hover .texto{
    opacity: 0; /* Muestra el texto al pasar el cursor */
    transition: opacity 0.3s ease;
}

#convenio .escuelas .mosaico:hover img{
    transform: scale(1.04);
    transition: opacity 0.3s ease;
}

/* ----------------------------------- Mosaico EMpresa ----------------------------*/

#Convenio2{
    padding: 80px;
}

#Convenio2 .empresas{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 12% 25% 12% 25%;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 5px;
}

#Convenio2 .empresas .empresa0{
    grid-column: 1/4;
    grid-row: 1/3;
}

#Convenio2 .empresas .empresa1{
    grid-column: 4/6;
    grid-row: 1/3; 
}

#Convenio2 .empresas .empresa2{
    grid-column: 1/3;
    grid-row: 3/5;
}

#Convenio2 .empresas .empresa3{
    grid-column: 3/6;
    grid-row: 3/5;
}

#Convenio2 .empresas .descripcion{
    height: 100%;
    position: relative;
    cursor: pointer;
}

#Convenio2 .empresas .descripcion img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Convenio2 .empresas .descripcion .span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#Convenio2 .empresas .descripcion:hover .span{
    opacity: 0; /* Muestra el texto al pasar el cursor */
    transition: opacity 0.3s ease;
}

#Convenio2 .empresas .descripcion:hover img{
    transform: scale(1.04);
    transition: opacity 0.3s ease;
}


